arabic-reshaper==3.0.0
async-timeout==5.0.1
backports.tarfile==1.2.0
crispy-tailwind==1.0.3
dj-database-url==3.0.1
django-celery-beat==2.8.1
django-environ==0.12.0
django-extensions==4.1
django-formtools==2.5.1
django-phonenumber-field==8.1.0
gunicorn==22.0.0
html5lib==1.1
importlib-metadata==8.0.0
jaraco.collections==5.1.0
phonenumbers==9.0.14
pip-chill==1.0.3
platformdirs==4.2.2
psycopg-c==3.2.9
psycopg2-binary==2.9.10
pyhanko==0.29.1
pypdf==5.9.0
python-bidi==0.6.6
python-decouple==3.8
python-dotenv==1.1.1
redis==6.4.0
svglib==1.5.1
tomli==2.0.1
whitenoise==6.9.0
