{% extends 'publics/emails/base.html' %}
{% load i18n %}

{% block title %}
{% trans "Votre code de réinitialisation de mot de passe" %} - {{ site_name }}
{% endblock %}

{% block content %}
<div class="content-block">
    <h2>{% trans "Réinitialisation de votre mot de passe" %}</h2>
    <p>{% trans "Bonjour" %} {{ user.first_name }},</p>
    <p>
        {% trans "Vous avez demandé la réinitialisation de votre mot de passe sur" %} {{ site_name }}. 
        {% trans "Veuillez utiliser le code de réinitialisation suivant :" %}
    </p>
    <div style="text-align: center; margin: 25px 0;">
        <span style="font-size: 24px; font-weight: 600; color: #1e40af; letter-spacing: 5px;">
            {{ reset_code }}
        </span>
    </div>
    <p>
        {% trans "Ce code est valide pendant 10 minutes. Si vous ne l'avez pas demandé, veuillez ignorer cet e-mail." %}
    </p>
    <div class="button-container">
        <a href="{{ protocol }}://{{ domain }}{% url 'users:password_reset_verify' email=user.email %}" class="button">
            {% trans "Réinitialiser maintenant" %}
        </a>
    </div>
    {% comment %} <p>
        {% trans "Si le bouton ne fonctionne pas, veuillez copier et coller ce lien dans votre navigateur :" %}
        <br>
        <a href="{{ protocol }}://{{ domain }}{% url 'users:password_reset_verify' email=user.email %}" style="color: #1e40af; text-decoration: underline;">
            {{ protocol }}://{{ domain }}{% url 'users:password_reset_verify' email=user.email %}
        </a>
    </p> {% endcomment %}
</div>
{% endblock %}